<section data-ng-controller="PhotosController" data-ng-init="initCreate()">
    <div class="page-header">
        <h1>Nova Foto</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="order">Ordem</label>
                    <div class="controls">
                        <input type="text" data-ng-model="order" id="order" class="form-control" placeholder="Ordem">
                    </div>
                    <label class="control-label" for="description">Descrição</label>
                    <div class="controls">
                        <input type="text" data-ng-model="description" id="description" class="form-control" placeholder="Descrição" required>
                    </div>
                    <label class="control-label" for="urlPhoto">URL</label>
                    <div class="controls">
                        <input type="text" data-ng-model="urlPhoto" id="urlPhoto" class="form-control" placeholder="Endereço da foto" required>
                    </div>
                    <label class="control-label" for="project">Projeto</label>
                    <div class="controls">
                        <select  data-ng-model="project" id="project" class="form-control">
                            <option value="" selected="selected">Selecione...</option>
                            <option data-ng-repeat="project in projects" value="{{ project._id }}">
                                {{ project.created }}
                            </option>
                        </select>
                    </div>
                    <label class="control-label" for="gallery">Galeria</label>
                    <div class="controls">
                        <select  data-ng-model="gallery" id="gallery" class="form-control">
                            <option value="" selected="selected">Selecione...</option>
                            <option data-ng-repeat="gallery in galleries" value="{{ gallery._id }}">
                                {{ gallery.name }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>