<section data-ng-controller="PhotosController" data-ng-init="find()">
    <div class="page-header">
        <h1>Fotos</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="photo in photos" data-ng-href="#!/photos/{{photo._id}}" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="photo.description"></h4>
            <small class="list-group-item-text">
                Cadastrado em
                <span>{{ photo.created | date:"dd/MM/yyyy 'às' hh:mm:ss" }}</span>
                <p>
                    Criado por: 
                    <span data-ng-bind="photo._creator.name"></span>
                </p>
            </small>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!photos.$resolved || photos.length">
    	Não há fotos cadastradas <a href="/#!/photos/create">Cadastrar uma</a>?
    </div>
</section>