<section data-ng-controller="PhotosController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="photo.description"></h1>
		<h5 data-ng-bind="photo._gallery.name"></h5>
		<img src="{{photo.urlPhoto}}" height="100" width="150" />
	</div>
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/photos/{{photo._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small class="list-group-item-text">
        Cadastrado em
        <span>{{ photo.created | date:"dd/MM/yyyy 'às' hh:mm:ss" }}</span>
        <p>
            Criado por: 
            <span data-ng-bind="photo._creator.name"></span>
        </p>
    </small>
</section>
