<section data-ng-controller="UserappsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Editar Usuário</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Nome</label>
                    <div class="controls">
                        <input type="text" data-ng-model="userapp.name" id="name" class="form-control" placeholder="Nome" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Email</label>
                    <div class="controls">
                        <input type="text" data-ng-model="userapp.email" id="email" class="form-control" placeholder="Email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="urlPhoto">Foto</label>
                    <div class="controls">
                        <input type="text" data-ng-model="userapp.urlPhoto" id="urlPhoto" class="form-control" placeholder="Url da foto" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="cellphone">Celular</label>
                    <div class="controls">
                        <input type="text" data-ng-model="userapp.cellphone" id="cellphone" class="form-control" placeholder="Celular" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="telephone">Telefone</label>
                    <div class="controls">
                        <input type="text" data-ng-model="userapp.telephone" id="telephone" class="form-control" placeholder="Telefone" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>