<section data-ng-controller="UserappsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Usuários</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="userapp in userapps" data-ng-href="#!/userapps/{{userapp._id}}" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="userapp.name"></h4>
            <img src="{{userapp.urlPhoto}}" height="100" width="150" />
            <br/>
            <small class="list-group-item-text">
                Cadastrado em
                    <span>{{ userapp.created | date:"dd/MM/yyyy 'às' hh:mm:ss"}}</span>
                <p>
                    Criado por: 
                    <span>{{ userapp._creator.name }}</span>
                </p>
            </small>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!userapps.$resolved || userapps.length">
    	Não há usuários cadastrados <a href="/#!/userapps/create">criar um</a>?
    </div>
</section>